.rubrik, h1 {
  color: #fff;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit-bild {
  padding-left: 20px;
  padding-top: 40px;
  width: 500px;
  height: 450px;
  margin-top: 40px;
 
}
.orbit-bild2 {
  height:25%;
  margin-left:38%;
}
.form-container  {
    margin: 35px auto; /* placerar modul-diven  */
    width: 1000px;
    position: relative;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* delar upp modul-diven i två delar */
  }
  
  .form-content-left {
    background: linear-gradient(
      45deg,
      rgba(16, 54, 158, 0.485) 55%,
      rgba(0, 247, 255, 0.849) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  .form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(145deg, rgba(0, 247, 255, 0.849) 0%, rgba(17, 17, 17, 0.603) 60%);
  }
 
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .form-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      270deg,
      rgb(9, 26, 36) 0%,
      rgb(2, 167, 170) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      270deg,
      rgb(10, 78, 73) 0%,
      rgb(12, 250, 238) 100%
    );
  }
  
  .createAcc-text {
    color: #fff;
    font-size:xx-large;
  }
  .no-account-text {
    color: #fff;
   font-size:medium;
   padding-bottom: 4%;
  }
  
  .content-form-ok{
   padding-top:10%;
    color: #fff;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255,0.5) 0%,
      rgb(38, 5, 44) 100%
      );
  }

  .acc, p{
    display: flex;
  align-items: center;
  justify-content: center; 
  }

  .meny,  a {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin:5px;
    list-style: none;
    text-decoration:none;
    font-size: larger;
    color: white;
  
  }
  .meny > button {
    margin: 5px;
    border-radius: 2px;
    background: linear-gradient(
      270deg,
      rgba(20, 70, 114, 0.63) 0%,
      rgba(2, 167, 170,0.8) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    
  }
  .meny > button:hover {
    cursor: pointer;
    background: linear-gradient(
      270deg,
      rgba(113, 193, 240, 0.8) 0%,
      rgba(160, 250, 252, 0.8) 100%
    );
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    font-size: 0.8rem;
  }

  .welcome-gif {
    margin-top: 15%;
   margin-left:5%;
    height: 250px;
    border-radius: 15px;
    width:90%;
    opacity: calc(60%);
  }
  
  .welcome-gif2 {
   border-radius: 10px;
   height: 60%;
   margin-left: 32%;
   margin-top: 5%;
   opacity: calc(50%);
  }

  .login-user-input, .login-pass-input {
    display: block;
    margin-left:25%;
    margin-bottom:1%;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 50%;
    border: none;
  }
  
  .login-user-input, .login-pass-input::placeholder {
    color: #595959;
    font-size: 12px;
  }

  .signin-label-user, .signin-label-pwd {
    margin-left:25%;
  }

  .sign-in-btn {
    margin-left:25%;
    margin-top:2%;
    width:50%;
   height:40px;
    border-radius: 2px;
    background: linear-gradient(
      270deg,
      rgba(43, 243, 250, 0.4) 40%,
      rgba(2, 167, 170,0.6) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  .sign-in-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      270deg,
      rgba(92, 183, 211, 0.8) 40%,
      rgba(143, 248, 217, 0.8) 100%
    );
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
  }
  p {
    color: #fff;
  }
  .signin-formdiv {
    margin-top: 2%;
    border-radius: 10px;
   width: 700px;
   height:500px;
    color: #fff;
    background: linear-gradient(
      45deg,
      rgba(8, 33, 104, 0.685) 60%,
      rgba(0, 247, 255, 0.849) 100%
      );
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }